body {
    margin: 0;
    background-color: #4C1D95 ;
    color: white;
    font-family: "Exo", sans-serif;
}

h3 {
    text-align: center;
    font-size: 35px
}
.container {
    display: flex;
    justify-content: space-around;
    height: 400px;
    margin: 100px;
}

.score-board {
    height: 120px;
    width: 155px;
    background-color: black;
    border-radius: 10px;
    color: #BE123C;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
}

.pnt-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.poins {
    border: 1px white solid;
    width: 45px;
    height: 45px;
    border-radius: 7px;
    text-align: center;
    line-height: 45px;
    background-color: transparent;
    color: white;
}